* {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* header rules */

#logo-picture {
  width: 20%;
  float: left;
  margin-bottom: 20px;
  margin-top: 5px;
}

/* navigation bar */

.navigation {
  position: relative;
  top: 30px;
  right: 5%;
  margin-bottom: 3%;
  color: #b2b2b2;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline;
  padding: 8px;
  font-size: small;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #b2b2b2;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/* Yoga picture with text */

.banner {
  width: 1024px;
  height: 683px;
  background-image: url(../img/banner.jpg);
  position: relative;
  right: 15%;
  border-radius: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.text1 {
  position: absolute;
  bottom: 200px;
  z-index: 150;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  margin-left: 6%;
}

.text2 {
  position: absolute;
  bottom: 150px;
  z-index: 150;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  margin-left: 6%;
}

.text1 > div {
  float: left;
}

.dark {
background-color: rgba(0, 0, 0, 0.3);
width: 100%;
height: 100%;
border-radius: 20px;
}

/* little heading */

.text3 {
  position: relative;
  right: 15%;
  font-size: 150%;
  margin-bottom: 5%;
}

.text3 > p {
  color: #b2b2b2;
}

/* start of rows with pics */

.container {
  width: 100%;
  position: relative;
  right: 6%;
  margin-bottom: 5%;
}

.box1 {
  width: 18%;
  float: left;
}

.box2 {
  width: 58%;
  height: 800px;
  margin-left: 3%;
  float: left;
  display: block;
}

.box3 {
  width: 18%;
  float: right;
}

.box-image {
  height: 200px;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

#image1 {
  background-image: url(../img/img-1.jpg);
  margin-bottom: 10%;
}

#image2 {
  background-image: url(../img/banner-2.jpg);
  background-size: 90% 110%;
  margin-bottom: 3%;
}

#image3 {
  background-image: url(../img/img-3.jpg);
  background-size: 100% 90%;
  margin-bottom: 10%;
}

div + h3 {
  position: relative;
  right: 4%;
}

h3 + p {
  margin-top: 10px;
  position: relative;
  right: 4%;
}

.different-text > p {
  color: #b2b2b2;
  position: relative;
  right: 10%;
  margin-top: 10px;
}
